@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --rio-blue: #005ca9;
  --rio-bg: #f3f6f9;
}

body {
  background-color: var(--rio-bg);
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
